.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

button{
    background-color:#A3CB38;
    border: none;
    width: initial;
    border-radius: 4px;
    padding:3px;
    margin: 2px;
    place-content: inherit;
    
}
button:hover{
    background-color:#6ea556;
}
    


