*{
    margin: 0;
}

.container{
    /* flexDirection="row" minHeight="100%"  marginTop='0px' */
    display: flex;
    flex-direction: row;
    height: inherit;
}

.filter-flex{
    /* width="200px"; height="500px" margin="10px" padding="1px"  style={{backgroundColor:'',borderRadius:'5px'}} */
    background-color:#dfe6e9;
    width: fit-content;
    height: 100%;
    margin: 1vh;
    padding: 10px;
    border-radius: 5px;
}

.card-array{    
    display: flex;
    overflow: scroll;
    overflow-x: hidden;
    /* flex-wrap: wrap-reverse; */
    /* width: 1350px; */
    height: 80vh;
    flex-flow: wrap;
    place-content: inherit;
}

@media screen and (max-width:900px) {
    .container{
        flex-direction: column;
        flex-flow: inherit;
        place-content: center;
    }
}

@media screen and (max-width:600px) {
    .container{
        flex-direction: column;
        align-items: center;
    }
    .filter-flex{
        width: 250px;
        place-content: center;
    }
    
}

@media screen and (max-width:569px) {
    .container{
        flex-direction: column;
        place-content: center;
        
    }
    .card-array{
        margin-left: 13vw;
        vertical-align: initial;
    }
    
}


