*{
    margin: 0;
    overflow: auto;
}

.container{
    /* flexDirection="row" minHeight="100%"  marginTop='0px' */
    display: flex;
    flex-direction: row;
    height: inherit;
}

.filter-flex{
    /* width="200px"; height="500px" margin="10px" padding="1px"  style={{backgroundColor:'',borderRadius:'5px'}} */
    background-color:#dfe6e9;
    place-content: center;
    width: 10vw;
    height: fit-content;
    margin: 1vh;
    padding: 10px;
    border-radius: 5px;
}

.card-array{    
    display: flex;
    /* overflow-x: hidden; */
    /* flex-wrap: wrap-reverse; */
    /* width: 1350px; */
    height: 80vh;
    flex-flow: wrap;
    place-content: inherit;
    width: 76vw;
}

@media screen and (max-width:1100px) {
    .container{
        flex-direction: column;
        flex-flow: inherit;
        place-content: center;
    }
    .filter-flex{
        width: fit-content;
    }
}

@media screen and (max-width:600px) {
    .container{
        flex-direction: column;
        align-items: center;
        
    }
    .filter-flex{
        width: 250px;
        place-content: center;
        
    }
    
}

@media screen and (max-width:600px) {
    .container{
        flex-direction: column;
        place-content: center;
        
    }
    .card-array{
        margin-left: 3vw;
        justify-content: center;
        
        
    }
    
}


